setup_proxy () {
  nvm use 14
  npx @payfit/sandbox-proxy-cli
}

setup_aws_sso () {
  aws sso login

  sleep 10

  aws ecr get-login-password --region eu-west-3 | docker login --username AWS --password-stdin 258792831588.dkr.ecr.eu-west-3.amazonaws.com

}

asp () {
	if [[ -z "$1" ]]
	then
		unset AWS_DEFAULT_PROFILE AWS_PROFILE AWS_EB_PROFILE
		echo AWS profile cleared.
		return
	fi
	local -a available_profiles
	available_profiles=($(aws_profiles))
	if [[ -z "${available_profiles[(r)$1]}" ]]
	then
		echo "${fg[red]}Profile '$1' not found in '${AWS_CONFIG_FILE:-$HOME/.aws/config}'" >&2
		echo "Available profiles: ${(j:, :)available_profiles:-no profiles found}${reset_color}" >&2
		return 1
	fi
	export AWS_DEFAULT_PROFILE=$1
	export AWS_PROFILE=$1
	export AWS_EB_PROFILE=$1
	if [[ "$2" == "login" ]]
	then
		aws sso login
	fi
}
